<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>404</title>
    </head>
    <body>
        <a href="/" class="title">High Drive</a>
        <h2>OOPS..</h2>
        <h3>Error 404, page not found.</h3>
    </body>
</html>