<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>Home Drive</title>
    </head>
    <body>
        <a href="/" class="inlineTitle">Home Drive</a>
        <a class="topLogin" href="/SignUp">Sign up</a>
        <a class="topLogin" href="/LogIn">Log in</a> 
        <br><br> 
        <% if(userLoggedIn){ %> 
            <br> 
            <h2 style="float: left;">Welcome to Home Drive, <%= username %> </h2>
            <br> 
            <a class="topSignout" href="/signout">Sign out</a>
            <br><br><br>
        <% } %>
        <hr>
        <br>
        <% if(!userLoggedIn){ %>
            <h3>In order to browse your files, you must log in first.</h3>
        <% }else{ %>
            <div id="uploadSection">
                <form enctype="multipart/form-data" style="margin: 10px;" action="/upload" method="post">
                    <label for="files">Upload files:</label>
                    <input type="file" name="files" multiple>
                    <br><br>
                    <input type="submit">
                </form>
            </div>
            <div>
                <br>
                <h3>Your files:</h3>
                <% usersFiles.forEach(file => { %>
                    <div style="margin: 15px;">
                        <form action="/getfile/<%= file %>">
                            <button type="submit">Download</button>
                            <label style="margin-left: 10px;" for="<%= file %>"><%= file %></label>
                        </form>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </body>
</html>