<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>Home Drive</title>
    </head>
    <body>
        <a href="/" class="inlineTitle">Home Drive</a>
        <a class="topLogin" href="/SignUp">Sign up</a>
        <a class="topLogin" href="/LogIn">Log in</a> 
        <br><br> 
        <hr>
    </body>
</html>