<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1 style="display: inline-block;">Home Drive</h1>
        <a class="topLogin" href="/SignUp">Sign up</a>
        <a class="topLogin" href="/LogIn">Log in</a> 
        <hr>
    </body>
</html>