<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>High Drive | Login</title>
    </head>
    <body>
        <a class="inlineTitle" href="/">High Drive</a>
        <a class="topLogin" href="/SignUp">Sign up</a>
        <a class="topLogin" href="/login">Log in</a>
        <br><br> 
        <hr>
        <br>
        <h2>Login to an existing account.</h2>
        <form enctype="application/x-www-form-urlencoded" action="/login" method="post">
            <label for="username">User name:</label>
            <input type="text" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br><br> 
            <input type="submit">
        </form>

        <% if(loginState === 1){ %>
            <br> 
            <div class="SignUpSuccess">
                <div style="margin-left: 10px;">
                    <p>Logged in successfully!</p>
                    <p>You can now browse your files if the home page.</p>
                </div>
            </div>
        <% }else if(loginState === 2){ %>
            <br> 
            <div class="SignUpError">
                <div style="margin-left: 10px;">
                    <p>Incorrect user name or password.</p>
                </div>
            </div>
        <% }else if(loginState === 0){ %>
        <% } %>

    </body>
</html>