<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>High Drive | sign up</title>
    </head>
    <body>
        <a href="/" class="inlineTitle">High Drive</a>
        <a class="topLogin" href="/SignUp">Sign up</a>
        <a class="topLogin" href="/login">Log in</a> 
        <br><br> 
        <hr> 
        <br>
        <h2>Create Account</h2>

        <form enctype="application/x-www-form-urlencoded" action="/SignUp" method="post">
            <label for="username">User name:</label>
            <input type="text" name="username" id="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required> 
            <br><br> 
            <input type="submit", value="Create account">
        </form>

        <% if(SignUpState == 1){ %>
            <br> 
            <div class="SignUpSuccess">
                <div style="margin-left: 10px;">
                    <p>Created your account successfully!</p>
                    <p>You can now log in to your new account.</p>
                </div>
                
            </div>
        <% }else if(SignUpState == 2){ %>
            <br> 
            <div class="SignUpError">
                <div style="margin-left: 10px;">
                    <p>User: <%= username %> already exists.</p>
                </div>
            </div>
            
        <% }else{ %>

        <% } %>
    </body>
</html>